@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.about {
    background-color: #0a2850;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.about__content {
    display: flex;
    margin: 100px 80px 173px;
    justify-content: space-between;
}

.about__title {
    max-width: 251px;
    margin: 0;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.about__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 660px;
    position: relative;
    top: 19px;
}

.about__paragraph {
    margin: 0;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.about__circle {
    background-color: #1878dc;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
}

.about__circle_animation_blurred {
    animation: pulsate 1.3s ease-in-out infinite;
}