.card {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 32px;
}

.card__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__list-item {
    display: flex;
    white-space: nowrap;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 16px;
    line-height: 20px;
}

.card__list-divider {
    border-bottom: 1px solid #000;
    flex-grow: 1;
    margin: 0 10px;
    position: relative;
    bottom: 3px;
}